.header{
  background-color: #242f42;
}
.login-wrap{
  background: #324157;
}
.login-page{
  background: #20a0ff;
}
.plugins-tips{
  background: #eef1f6;
}
.plugins-tips a{
  color: #20a0ff;
}
.pure-button{
  background: #20a0ff;
}
